* {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  background-color: #363636;
}

/* Header Styles */
header {
  background-color: #070809;
}
.header-div {
  background-image: url('./images/header-img.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 740px;
  margin: auto;
  padding: 30px;
  width: 775px;
}

.header-div p {
  color: #fff;
  font-family: "Righteous";
  font-size: 25px;
}
.header-div p:first-child {
  margin-top: 228px;
}

.header-div p:nth-child(2) {
  margin: 18px 0 0 28px;
}

.header-div p:nth-child(3) {
  margin: 10px 0 -15px 375px;
}

.header-div h1 {
  color: #fff;
  font-family: "Rye";
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 8px;
  text-align: center;
}

/* Navbar Styles */
.navbar-container {
  border-bottom: 1px solid #fff;
  height: 60px;
  margin: auto;
  width: 1110px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar-nav a {
  position:relative;
  left: 500px;
  font-family: "Roboto Condensed";
  margin-top: 5px;
  margin-right: 100px;
}
.navbar-title {
  font-family: "Rye";
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}

/* SectionHeader Styles */
.sectionheader-div {
  color: #fff;
  font-family: "Roboto";
  font-size: 40px;
  margin-top: 30px;
  text-align: center;
}
.sectionheader-div div {
  display: inline-block;
}
.sectionheader-div div h2 {
  letter-spacing: 10px;
  margin-bottom: -10px;
}
.top-hr {
  color: #fff;
  height: 2px;
  width: 165px;
}
.bottom-hr {
  display: inline-block;
  position:relative;
  left: 30px;
  color: #fff;
  height: 2px;
  width: 165px;
}

/* About Styles */
.about-heading {
  color: #fff;
  font-family: "Roboto";
  font-size: 26;
  font-weight: bold;
  letter-spacing: 8px;
  margin-top: -25px;
  text-align: center;
}
.aboutheaders-div {
  border-bottom: 1px solid #fff;
  margin: 0 auto 10px auto;
  text-align: center;
  width: 1110px;
}
.aboutheaders-div h3 {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 30px;
}
.about-p {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 26px;
  margin: auto;
  width: 1100px;
}
.skillsbox-div {
  margin: auto;
  padding-top: 10px;
  width: 1110px;
}
.skillsbox {
  display:inline-block;
  width: 370px;
  vertical-align: top;
}
.skillsbox p {
  color: #fff;
  font-family: "Roboto";
  font-size: 26px;
  margin-top: -20px;
}
.skillsbox ul {
  padding: 8px;
  margin: -10px;
}
.skillsbox li {
  color: #fff;
  list-style-type: none;
  font-family: "Roboto";
  font-size: 24px;
}
.skillsbox-center {
  text-align: center;
}
.skillsbox-right {
  text-align: right;
}
.education-div {
  color: #fff;
  font-family: "Roboto";
  font-size: 26px;
  margin: auto;
  width: 1110px;
}
.education-para-head {
  font-weight: bold;
  margin-bottom: -6px;
}
.school-div {
  margin-top: 20px;
}
.employmentBox-div {
  color: #fff;
  font-family: "Roboto";
  margin: auto;
  width: 1110px;
}
.employmentBox-div li {
  font-size: 24px;
  list-style-type: none;
  padding: 3px 0px;
}
.employmentHeading-div {
  font-size: 26px;
  display: inline-block;
  vertical-align: top;
}
.employmentHeading-left {
  width: 655px;
  text-align: left;
}
.employmentHeading-right {
  width: 455px;
  text-align: right;
}
.employmentHeading-div p {
  margin-bottom: -8px;
}

/* Contact Styles */
.contact-div {
  background-color: #000;
  color: #fff;
  font-family: "Roboto";
  height: 1040px;
  margin: auto;
  width: 1110px;
  text-align: center;
}
.contact-div-left, .contact-div-right {
  display: inline-block;
  width: 550px;
  text-align: center;
  vertical-align: top;
}
.infobox-div {
  background-color: #1F1F1F;
  display: inline-block;
  margin: 15px 20px;
  padding: 20px;
  width: 495px;
  text-align: left;
}
.infobox-img-div {
  background-color: #fff;
  border-radius: 100%;
  float: left;
  margin-right: 8px;
  height: 65px;
  width: 65px;
}
.infobox-div img {
  height: 45px;
  margin: 10px 10px;
  width: 45px;
}
.infobox-div h3 {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 5px;
}
.infobox-div p {
  font-size: 16px;
  letter-spacing: 3px;
}
#map {
  background-color: blue;
  margin: 16px auto;
  height: 270px;
  width: 495px;
}

/* Form Styles */
.contactform-div {
  background-color: #1F1F1F;
  margin: 10px auto;
  padding-bottom: 20px;
  width: 1045px;
}
#fName, #email {
  background-color: #4A4A4A;
  color: #fff;
  height: 50px;
  margin: 20px 35px;
  padding-left: 10px;
  width: 450px;
}
#subject {
  background-color: #4A4A4A;
  color: #fff;
  height: 50px;
  margin: auto;
  padding-left: 10px;
  width: 970px;
}
#message {
  background-color: #4A4A4A;
  color: #fff;
  height: 190px;
  margin: 20px auto;
  padding-left: 10px;
  width: 970px;
}
#messageBtn {
  background-color: #192597;
  border-radius: 8px;
  color: #fff;
  height: 40px;
  margin-top: -10px;
  width: 400px;
}

/* Footer Styles */
.footer-div {
  height: 235px;
  margin: auto;
  margin-bottom: 20px;
  width: 1110px;
}
.footer-left, .footer-right {
  display: inline-block;
  text-align: center;
  width: 550px;
}
.footer-left img {
  display: block;
  height: 60px;
  margin: 55px auto 10px auto;
  width: 60px;
}
.footer-left img:hover {
  height: 65px;
  margin: 53px auto 7px auto;
  width: 65px;
}
.footer-left small {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 18px;
}
.footer-right img {
  height: 170px;
  margin-top: -80px;
  width: 261px;
}